@import "../styles/_variables.scss";

$mobileBreakPoint: 640px;

.modalWrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba($color-night-gray9, 0.7);
}

.modal {
  margin: 20px;
  background-color: $color-white;
  box-shadow: $box-shadow5;
  border-top: 4px solid $color-night-gray3;
  border-radius: 3px;
  max-width: 580px;
  line-height: 1.5;
  @media (max-width: $mobileBreakPoint) {
    max-width: 90%;
  }
  &--normal {
    border-color: transparent;
  }
  &--info {
    border-color: $color-accent1-normal;
  }
  &--success {
    border-color: $color-accent6-normal;
  }
  &--alert {
    border-color: $color-accent8-normal;
  }
  &--danger {
    border-color: $color-accent9-normal;
  }
  
  &-header {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    &--normal {
      padding: 24px;
      border-bottom: 1px solid $color-night-gray3;
    }
    
    &-title {
      color: $base-text-color;
      width: 85%;
    }
    
    &-close {
      cursor: pointer;
      text-align: right;
      flex-grow: 1;
      font-size: 18px;
      color: $color-night-gray5;
      &--normal {
        flex-grow: 0;
      }
    }
  }
  
  &-body {
    padding:0 24px 24px;
    &--normal {
      padding: 24px;
    }
    display: flex;
    border-bottom: 1px solid $color-night-gray3;
    color: $color-night-gray6;
    
    @media (max-width: $mobileBreakPoint) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &-stateIcon {
      margin: 0 36px 0 12px ;
      @media (max-width: $mobileBreakPoint) {
        text-align: center;
        margin: 0 0 24px;
      }
      
        &--info {
          color: $color-accent1-normal;
          border-color: $color-accent1-normal;
          svg {
            box-shadow: 0 0 0 12px $color-accent1-lighter;
            border-radius: 50%;
          }
        }
        &--success {
          color: $color-accent6-normal;
          border-color: $color-accent6-normal;
          svg {
            box-shadow: 0 0 0 12px $color-accent6-lighter;
            border-radius: 50%;
          }
        }
        &--alert {
          color: $color-accent8-normal;
          border-color: $color-accent8-normal;
          svg {
            box-shadow: 0 0 0 12px $color-accent7-lighter;
            border-radius: 50%;
          }
        }
        &--danger {
          color: $color-accent9-normal;
          border-color: $color-accent9-normal;
          svg {
            box-shadow: 0 0 0 12px $color-accent9-lighter;
            border-radius: 50%;
          }
        }
    }
    &-title {
      margin-bottom: 12px;
      color: $base-text-color;
      width: 90%;
      @media (max-width: $mobileBreakPoint) {
        text-align: center;
        width: 100%;
      }
    }
    &-content {
      width: 80%;
      @media (max-width: $mobileBreakPoint) {
        text-align: center;
        width: 100%;
      }
      &--normal{
        width: 100%;
        @media (max-width: $mobileBreakPoint) {
          text-align: left;
        }
      }
    }
  }
  &-footer {
    padding: 12px 16px;
    display: flex;
    justify-content: flex-end;
    &-buttonGroup {
      display: flex;
    }
  }
}