<template>
  <div v-if="this.$slots.default" class="modalWrapper">
    <div class="modal" v-click-outside="handleCloseModal" :class="[`modal--${state}`]">
      <div class="modal-header" :class="[`modal-header--${state}`]">
        <h4 class="modal-header-title" v-if="state === 'normal'">{{title}}</h4>
        <span class="modal-header-close" :class="[`modal-header-close--${state}`]" v-if="closeable" @click="handleCloseModal">
          <font-awesome-icon icon="times" />
        </span>
      </div>
      <div class="modal-body" :class="[`modal-body--${state}`]">
        <span
          v-if="state !== 'normal'"
          class="modal-body-stateIcon"
          :class="[`modal-body-stateIcon--${state}`]"
        >
          <font-awesome-icon :icon="stateIconMap[state]" />
        </span>
        <div class="modal-body-content" :class="[`modal-body-content--${state}`]">
          <h4 class="modal-body-title" v-if="state !== 'normal'">{{title}}</h4>
          <slot></slot>
        </div>
      </div>

      <div class="modal-footer">
        <slot name="footer"></slot>
        <div class="modal-footer-buttonGroup" v-if="!this.$slots.footer">
          <button-ui :onClick="handleCancelButton">{{state === 'normal' ? "Fermer": "Annuler"}}</button-ui>

          <button-ui :onClick="handleConfirmButton" :state="state">Confirmer</button-ui>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import vClickOutside from "v-click-outside";
import Button from "../shared/button";

export default {
  components: {
    "button-ui": Button
  },
  directives: {
    clickOutside: vClickOutside.directive
  },
  props: {
    closeable: {
      type: Boolean,
      default: true
    },
    title: {
      type: String,
      required: true
    },
    state: {
      type: String,
      required: true,
      default: "normal"
    },
    closeModal: {
      type: Function
    },
    overlay: {
      type: Boolean,
      default: true
    }
  },
  data() {
    return {
      stateIconMap: {
        info: "info-circle",
        success: "check-circle",
        alert: "exclamation-triangle",
        danger: "exclamation-circle"
      },
      content: false
    };
  },
  mounted() {
    this.$emit("modal-open", "le modal est ouvert");
  },
  methods: {
    handleCloseModal() {
      this.$emit("modal-close", "le modal est fermer");
    },
    handleConfirmButton() {
      this.$emit("modal-confirm", "le modal est confirmer");
      this.handleCloseModal();
    },
    handleCancelButton() {
      this.handleCloseModal();
    }
  }
};
</script>

<style lang="scss" scoped>
@import "./modal.scss";
</style>