@import "./variables.scss";

* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
html, 
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: $font;
  color: $base-text-color;
}