<template>
  <a class="button" @click="onClick" :class="[`button--${state}`]">
    <slot></slot>
  </a>
</template>

<script>
export default {
  props: {
    state: {
      type: String,
      default: ""
    },
    onClick: {
      type: Function,
      default: function() {}
    }
  }
};
</script>

<style lang="scss" scoped>
@import './button.scss';
</style>