@import "../styles/_variables.scss";

.button {
  display: inline-block;
  margin-left: 12px;
  border-radius: 5px;
  font-size: 14px;
  border: 1px solid $color-night-gray3;
  padding: 14px 20px;
  cursor: pointer;

  &--normal {
    background-color: $color-accent1-normal;
    border-color: $color-accent1-normal;
    color: $color-white;
  }
  &--info {
    background-color: $color-accent1-normal;
    border-color: $color-accent1-normal;
    color: $color-white;
  }
  &--success {
    background-color: $color-accent6-normal;
    border-color: $color-accent6-normal;
    color: $color-white;
  }
  &--alert {
    background-color: $color-accent8-normal;
    border-color: $color-accent8-normal;
    color: $base-text-color;
  }
  &--danger {
    background-color: $color-accent9-normal;
    border-color: $color-accent9-normal;
    color: $color-white;
  }
}