<template>
  <div>
    <div class="interactiveForm">
      <label>
        show close icon:
        <input type="checkbox" v-model="closeable" />
      </label>
      <br />
      <hr />
      <label>
        <p>state</p>
        <select v-model="state">
          <option value="normal">normal</option>
          <option value="info">info</option>
          <option value="success">success</option>
          <option value="alert">alert</option>
          <option value="danger">danger</option>
        </select>
      </label>
      <br />
      <hr />
      <label>
        <p>title</p>
        <input type="text" v-model="title" />
      </label>
      <br />
      <hr />
      <label>
        <p>content</p>
        <textarea type="textbox" style="height: 100px; width: 100%; max-width: 500px;" v-model="content"></textarea>
      </label>
      <br />
      <hr />
      <label>
        <button @click="toggleModal">show Modal</button>
      </label>
      <br />
      <hr />
    </div>
    
    
    
    <modal-ui
      v-on:modal-close="handleModalCloseEvent"
      v-on:modal-confirm="handleModalConfirmEvent"
      v-on:modal-open="handleModalOpenedEvent"
      v-if="active"
      :state="state"
      :closeable="closeable"
      :title="title"
      :closeModal="toggleModal"
    >
      {{content}}
      <!-- pour remplacer le footer avec un footer personnalisé, rajouter le template #footer qui va automatiquement le rempalcer dans le modal-->
      
      <!-- <template #footer>
      this is a custom footer
      </template> -->
      
    </modal-ui>
  </div>
</template>

<script>
import modal from "./modal/modal";
export default {
  components: {
    "modal-ui": modal
  },
  data() {
    return {
      active: false,
      closeable: true,
      title: "this is the interactive modal",
      content:
        "Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi voluptatibus placeat magnam minus odio nostrum architecto amet deleniti earum dignissimos porro, suscipit similique iusto quae, nam nihil? Sint, facere in",
      state: "normal",
      showModal: false
    };
  },
  // les evenements produit par le modal (ouvert, fermer, confirm), passer a son parent sont representer par ces fonctions qui log au console la valeur retourner par l'evenement.
  methods: {
    toggleModal() {
      this.active = !this.active;
    },
    handleModalCloseEvent(e) {
      this.active = !this.active;
      console.log(e);
    },
    handleModalConfirmEvent(e) {
      console.log(e);
    },
    handleModalOpenedEvent(e) {
      console.log(e);
    }
  }
};
</script>

<style lang="scss">
@import "./styles/_reset.scss";

.interactiveForm {
  text-align: center;
  margin: 40px;
}
</style>
